<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojos and Ninjas</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="top">
        <div class="dojoForm">
            <h1>Add a Dojo</h1>
            <form action="/add_dojo" method="POST">
                {% csrf_token %}
                <div class="row">
                    <label for="name">Name</label>
                    <input type="text" name="name">
                </div>
                <div class="row">
                    <label for="city">City</label>
                    <input type="text" name="city">
                </div>
                <div class="row">
                    <label for="state">State</label>
                    <input type="text" name="state">
                </div>
                <button type="submit">Add</button>
            </form>
        </div>
        <div class="ninjaForm">
            <h1>Add a Ninja</h1>
            <form action="/add_ninja" method="POST">
                {% csrf_token %}
                <div class="row">
                    <label for="first_name">First Name</label>
                    <input type="text" name="first_name">
                </div>
                <div class="row">
                    <label for="last_name">Last Name</label>
                    <input type="text" name="last_name">
                </div>
                <div class="row">
                    <label for="dojo">Dojo</label>
                    <select name="dojo" id="dojo">
                        <option disabled selected>-select a dojo-</option>
                        {% for dojo in dojos %}
                            <option>{{ dojo.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit">Add</button>
            </form>
        </div>
    </div>
    <div class="bottom">
        <h1>All the Dojos</h1>
        <div class="list">
            {% for dojo in dojos %}
            <h4>Ninjas at the {{ dojo.name }}</h4>
            <ul>
                {% for ninja in dojo.ninjas.all %}
                <li>{{ ninja.first_name}} {{ ninja.last_name }}</li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
    </div>
</body>
</html>