body {
    font-family: Arial, Helvetica, sans-serif;
}

.top {
    display: flex;
    justify-content: center;
}

.dojoForm, .ninjaForm {
    display: inline-block;
    width: 350px;
    padding: 25px;
    text-align: center;
}

.row {
    margin: 10px;
    text-align: right;
}

input, select {
    margin-left: 30px;
}

select {
    width: 153px;
}

button {
    background-color: green;
    color: white;
    width: 100px;
    box-shadow: 3px 3px darkgray;
    border-radius: 5px;
    margin-left: 128px;
}

button:hover {
    cursor: pointer;
}

.bottom {
    border-top: 5px solid black;
    padding: 30px;
    text-align: center;
}

.list {
    width: 450px;
    margin-left: 400px;
    padding: 30px;
}

ul {
    text-align: left;
    list-style-position: inside;
}

li {
    margin-left: 130px;
}