body {
    font-family: Arial, Helvetica, sans-serif;
}

.top {
    display: flex;
    justify-content: center;
}

.dojoForm, .ninjaForm {
    display: inline-block;
    width: 350px;
    padding: 25px;
    text-align: center;
}

.row {
    margin: 10px;
    text-align: right;
}

input, select {
    margin-left: 30px;
}

select {
    width: 153px;
}

.bottom {
    border-top: 5px solid black;
    padding: 30px;
    text-align: center;
}